.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.dashhead{
    border-bottom: 2px #00538D solid; 
    margin-bottom: 20px;
}
.dashhead:before,
.dashhead:after {
    content: " ";
    display: table;
}
.dashhead:after {
    clear: both;
}
.dashhead:before,
.dashhead:after {
    content: " ";
    display: table;
}
.dashhead:after {
    clear: both;
}


@media (min-width: 768px) {
    .dashhead-titles {
        float: left;
    }
}

.dashhead-title {
    margin-top: 0;
}
.dashhead-subtitle {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 85%;
    color: #434857;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.dashhead-toolbar {
    margin-left: 0;
}
.dashhead-toolbar .input-with-icon {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
}

.flextable {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.flextable-item {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.flextable-primary {
  width: 99%;
}

@media (min-width: 768px) {
    .dashhead-toolbar {
        float: right;
        margin-top: 12px;
    }
    
    .dashhead-toolbar .input-with-icon {
        width: 180px;
        margin-bottom: 0;
    }
}

.dashhead-toolbar-divider {
    float: left;
    width: 1px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #434857;
}
.dashhead-toolbar-item {
    float: left;
}
@media (max-width: 768px) {
    .dashhead-toolbar-item.aph {
        width: 100%;
    }
    .dashhead-toolbar-item.aph .btn {
        width: 50%;
        margin-left: 0;
    }
    .dashhead-toolbar-item.btn-group-thirds {
        width: 100%;
    }
    .dashhead-toolbar-item.btn-group-thirds .btn {
        width: 33%;
        margin-left: 0;
    }
    .dashhead-toolbar-item.btn-group-thirds .btn:last-child {
        width: 34%;
    }
    .dashhead-toolbar-item.apj {
        width: 100%;
    }
    .dashhead-toolbar-item.apj .btn {
        width: 25%;
        margin-left: 0;
    }
}

.hr-divider {
    position: relative;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}

.hr-divider:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #3277b2;
}

.hr-divider-content {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: #6f7890;
    vertical-align: middle;
    background-color: #ffffff;
}

.hr-divider-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100%;
    color: inherit;
}

/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
    padding:6px 12px 6px 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
    padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default{
    background-color: #ffffff;
}

.btn-breadcrumb .btn.btn-default:hover{
    background-color: #efefef;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
    border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
    border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
    border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
    border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
    border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
    border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
    border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
    border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
    border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
    border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
    border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
    border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
    border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
    border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
    border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
    border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
    border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
    border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
    border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
    border-left: 10px solid #269abc;
}

.label-as-badge {
    border-radius: 1em;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.tab-content{
    border:1px solid #dddddd;
    padding:16px 12px;
    position:relative;
    border-width: 0px 1px 1px;
}

.tab-content-noLine{
    border:0px solid #dddddd;
}